@import '_reset.scss';

html, body {
	height: 100%;
	position: relative;
}

html {
	font-size: 62.5%;
}

body {
	// background-color: #f3f3f3;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.42;
	font-size: 1.6em;
}

#sheet {
	max-width: 90rem;
	margin: 0 auto;
}
.card {
	display: flex;
	border: 1px solid black;
	min-height: 2em;
}
.cue {
	width: 30%;
	flex: 0 0 auto;
	border-right: 1px solid black;
	min-height: 2em;
	background-color: #ffeeee;
}
.notes {
	width: 70%;
	flex: 0 0 auto;
	background-color: #eeeeff;
}
.ql-container {
	height: auto;
}
/* TODO: Set a proper width*/

/* Find a way to select the first element inside this. Give it a border.
.note-card {
	border-right: 1px solid grey;
}
*/


/*  Can't really decide how to style this. Perhaps let the user decide?
	Let them pick a theme initially, then allow them to change it.
	Classes allowed to be changed:
	.note, .cue
	attributes able to be changed:
	background-color, color, font-family, font-size, border,
	line-height (or margin after <p>), order of note and cue, whether or not
	the lines connect (margin, i guess. Could be dangerous. Include a reset
	style button.)
	Mechanism to do this should be fairly straightforward.
*/
